
.vs/Termination/DesignTimeBuild/.dtbcache
.vs/Termination/v16/.suo
.vs/Termination/v16/Server/sqlite3/storage.ide
obj/Debug/net45/Termination.csprojAssemblyReference.cache
*.dll
*.pdb
*.props
*.cache
